body{
    background-color: rgb(232, 232, 232);
}
header{
   padding: 20px;
    background-color: rgb(245, 241, 239);
    clear: left;
    color: rgb(220, 88, 2);
    text-align:center;
    font-size: 50px;
    font-family:Aladin;
 
}
table{
    border-collapse: collapse;
    width: 100%;
    border:2px solid black;
}
.epocasDesc{
    font-family:Aladin;
    font-size:18px;
    padding-bottom:15px;
    padding-top:15px;
  color:rgb(156, 156, 156);
}
h3{
     color: rgb(220, 88, 2);
}

.semestre{
    font-size:20px;
}
.tableEpoca{
      width: 50%;
  margin: 0 auto;
}
header #image,
header #txt{
padding-left:15px;
     display: inline-block;
    vertical-align: bottom;
}
